name: Version Updater

on:
  workflow_dispatch: 
  push:
    branches:
      - main
      - chore/*
permissions:
  contents: write
jobs:
  pipoca:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with: 
          fetch-depth: 0 
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Configure git
        run: git config --global user.name 'kruceo' && git config --global user.email '${{secrets.OWNER_EMAIL}}'
      
      - name: Run pipoca
        run: |
          npx -y https://github.com/Kruceo/Pipoca.git
      - name: Push
        continue-on-error: true
        run: |
          git add lib/version.go
          git commit -m '[Automated] update version'
          git push origin HEAD